a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
      color: var(--greenapple);
    }
  }

  .nav {
    justify-content: center;
    .brand {
      cursor: pointer;
      justify-self: left;
      margin-left: 15px;
    }
    .content {
      background-color: var(--greyapple);
      position: relative;
      z-index: 10;
      display: flex;
      justify-content: center;
    }
    .dropdown {
      background-color: #b1b1b1;
      margin-top: 60px;
      position: fixed;
      text-align: center;
      top: 0;
      width: 100%;
      left: 0;
      display: grid;

      a {
        color: white;
        padding: 20px;
        &:hover {
          color: var(--greyapple);
          background-color: var(--greenapple);
        }
      }
      &.show {
        display: grid;
      }
    }
    .links {
      display: grid;
      grid-auto-columns: minmax(min-content, 50px);
      grid-auto-flow: column;
      grid-gap: 15px;
      place-items: center;
      &.nav-items {
        justify-self: right;
        padding-right: 15px;
      }
    }
    .menu {
      -webkit-user-select: none;
      justify-self: right;
      position: relative;
      user-select: none;
      input {
        -webkit-touch-callout: none;
        cursor: pointer;
        display: block;
        height: 24px;
        left: -5px;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 24px;
        z-index: 2;
      }
      label {
        color: var(--greenapple);
        left: 0;
        position: relative;
        top: 0;
        font-size: 25px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .nav {
      .content {
        .links {
          display: none;
        }
        .menu {
          display: initial;
        }
      }
    }
  }
