<header class="header">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-6">
        <div class="col-content col-content-logo">
          <img src="assets/img/logo-home.png">
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <div class="col-content"><i class="fas fa-search"></i></div>
          </div>
          <div class="col-3" (click)="like()">
            <div class="col-content"><i [ngClass]="isLike ? 'fas' : 'far'"  class="fa-heart"></i></div>
          </div>
          <div class="col-3">
            <div class="col-content"><i class="fas fa-shopping-bag" (click)="click()"></i>
              <div class="red-circle" *ngIf="addCircle">
                <i class="fas fa-circle"></i>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="col-content">
              <app-menu></app-menu>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</header>
