header {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  .row {
    .col-content {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 25px;
        cursor: pointer;
        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      .navbar {
        padding-top: 0;
      }

      .fa-search:before {
        color: black;
      }

      .fas, .fa-heard {
        color: red;
      }

      .fa-shopping-bag:before {
        color: black;
      }

      .red-circle {
        position: absolute;
        left: 11px;
        right: 0px;
        top: -8px;
        @media (max-width: 768px){
          top: -5px;
        }
        i {
          font-size: 10px;
          @media (max-width: 768px){
            font-size: 8px;
          }
        }
      }
      &.col-content-logo{
        justify-content: left;
      }
    }
  }
}
