.description{
  margin: 10px 0 35px;
  .content{
    .text-content {
      h5{
        font-weight: 400;
      }
      .text-1{
        margin-bottom: 0;
      }
      p{
        font-weight: lighter;
      }
      a{
        font-weight: 500;

      }
    }
  }
}
