<section class="radius">
  <div class="container">
    <div class="content">
      <div class="content-selector">
        <div class="info-text">
          <h5>TAMAÑO</h5>
        </div>
        <div class="radius-selector">
          <input id="yes" class="toggle" name="sizeS" value="false" type="radio" disabled>
          <label for="yes" class="btn">S</label>
        </div>
        <div class="radius-selector">
          <input id="no" class="toggle" name="sizeS" value="true" type="radio">
          <label for="no" class="btn">M</label>
        </div>
        <div class="radius-selector">
          <input id="efe" class="toggle" name="sizeS" value="false" type="radio" checked>
          <label for="efe" class="btn">L</label>
        </div>
        <div class="radius-selector">
          <input id="efr" class="toggle" name="sizeS" value="true" type="radio" disabled>
          <label for="efr" class="btn">XL</label>
        </div>
        <div class="radius-selector">
          <input id="efs" class="toggle" name="sizeS" value="true" type="radio" disabled>
          <label for="efs" class="btn">XLL</label>
        </div>
      </div>
      <div class="content-kit">
        <div class="info-text">
          <h5>KIT</h5>
        </div>
        <div class="radius-selector">
          <input id="home" class="toggle" name="kit" value="true" type="radio" checked>
          <label for="home" class="btnK">HOME</label>
        </div>
        <div class="radius-selector">
          <input id="away" class="toggle" name="kit" value="true" type="radio">
          <label for="away" class="btnK">AWAY</label>
        </div>
        <div class="radius-selector">
          <input id="third" class="toggle" name="kit" value="true" type="radio">
          <label for="third" class="btnK">THIRD</label>
        </div>
      </div>
    </div>
  </div>
</section>
