.content {
  margin: 40px 0;

  .content-text {
    font-family: 'Roboto', sans-serif;
    text-align: Center;
    vertical-align: Top;

    h2 {
      font-size: 50px;
      margin-bottom: 20px;
      @media (max-width: 672px) {
        font-size: 30px;
      }
    }
  }

  .qualification {
    cursor: pointer;
    display: flex;
    justify-content: center;
    input[type = "radio"] {
      display: none;
    }

    label {
      color: grey;
    }

    label:hover,
    label:hover ~ label i {
      color: orange;
      cursor: pointer;
    }

    input[type = "radio"]:checked ~ label i {
      color: orange;
    }

    i {
      color: #D61043;
    }

    .starts {
      direction: rtl;
      unicode-bidi: bidi-override;
    }
    .text-qualification {
      p {
        margin-left: 25px;
        font-family: 'Roboto', sans-serif;
      }
    }
  }

  .price {
    p {
      font-family: fantasy;
      font-weight: 400;
      font-size: 28px;
      text-align: center;
      @media (max-width: 672px) {
        font-size: 25px;
      }
    }
  }
}
