<section class="content">
  <div class="container">
    <div class="content-text">
      <h2>Pantalones para Dama <br>"The Sideswept Dhoti"</h2>
    </div>
    <div class="calification">
      <div class="starts">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <div class="text-calification">
          <p>4 de 5</p>
        </div>
      </div>
    </div>
    <div class="price">
      <p>$139.99</p>
    </div>
  </div>
  <hr>
</section>

